---
import { Image } from 'astro:assets';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="w-full max-w-screen-lg mx-auto block min-h-[50dvh] p-6 lg:p-0">
			<div class="flex items-center justify-center gap-3">
				<div class="px-4 py-3 mt-8 space-y-6">
					<img src="https://avatars.githubusercontent.com/u/35134207?v=4" class="w-24 h-auto block mx-auto rounded-full">
					<p class="text-center text-xl">Kiran Sai Subramanyam K</p>
					<p class="text-center text-lg text-zinc-600">Software Engineer | Managing Director @ Xplorebits</p>
				</div>
			</div>

			<div class="grid grid-cols-3 gap-3 my-6">
				{
					posts.map((post) => (
						<div class="col-span-3 md:col-span-1">
							<a href={`/blog/${post.id}/`}>
								{post.data.heroImage && (
									<Image width={720} height={360} src={post.data.heroImage} alt="" />
								)}
								<div class="h-2" />
								<h4 class="title">{post.data.title}</h4>
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
						</div>
					))
				}
			</div>
		</main>

		<Footer />
	</body>
</html>
